body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

#form-add-veiculo div {
    margin-bottom: 10px;
}

#form-add-veiculo label {
    display: inline-block;
    width: 150px; /* Ajuste conforme necessário */
    margin-right: 10px;
}

#form-add-veiculo input,
#form-add-veiculo select {
    padding: 5px;
    min-width: 200px;
}

#lista-garagem ul {
    list-style: none;
    padding: 0;
}

#lista-garagem li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-garagem li span {
   flex-grow: 1;
   margin-right: 10px;
}


button {
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-remover {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
}

.btn-detalhes {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
}

#limpar-storage {
    margin-top: 20px;
    background-color: #ffc107; /* Yellow */
    color: #333;
    border: none;
}